.c-btn {
    width: 196px;
    font-family: $muli;
    font-weight: 600;
    border: 1px solid $white;
    overflow: hidden;

    a {
        padding: 17px;
        position: relative;

        &::after {
            content: url('../img/arrow-1.png');
            position: absolute;
            top: 0;
            right: 34px;
            width: 25%;
            height: 100%;
            text-align: center;
        
            display: flex;  
            justify-content: center;
            align-items: center;
        }
    }

    &--yellow {
        background-color: $bgYellow;
        border: 1px solid $bgYellow;
        
        a {
            color: $bgColor;
            transition: all 0.5s ease;
            
            &::after {
                content: url('../img/location.png');
                background-color: $btnBg;
                transition: all 0.5s ease;
            }

            &:hover {
                background-color: $btnBg;
                color: $white;

                &::after {
                    background-color: rgba(0, 0, 0, 0.5);
                }
    
            }
        }
    }

    &--journal {
        background-color: $bgYellow;
        border: 1px solid $bgYellow;
        margin: 0 auto;
        margin-top: 50px;

        a {
            font-family: $muli;
            font-size: 16px;
            font-weight: 600;
            color: $bgColor;
            &::after {
                content: url('../img/arrow-2.png');
                background-color: $btnBg;
            }
        }
    }
}