.c-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

    h2  {
        font-family: $playfair;
        font-size: 42px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    p{
        font-family: $muli;
        margin-bottom: 20px;
    }
}