.l-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    z-index: 2;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        margin-right: 15%;
        
        h1 {
            font-family: $poppins;
            font-size: 22px;
            font-weight: 700;
        }
    }

    &__menu {

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            li {
                margin-right: 45px;
                position: relative;

                a { 
                    font-family: $muli;
                    font-weight: 700;
                    padding: 35px 5px;
                    transition: all 0.5s ease;

                    &:hover {
                        color: $bgYellow;

                        &::after {
                            scale: 1;
                        }
                    }

                    &::after {
                        content: "";
                        width: 100%;
                        height: 2px;
                        scale: 0;
                        background-color: $bgYellow;
                        position: absolute;
                        left: 0;
                        bottom: -2px;
                        transition: all 0.5s ease;
                    }
                }

                a.active {
                    color: $bgYellow;

                    &::after {
                        scale: 1;
                    }
                }
            }

            li:last-child {
                margin-right: 0;
            }
        }
    }

    &__hamburger {
        display: none;

        a {
            &::after {
                content: url('../img/menu_icon.svg');
            }
            
        }
    }
}

@media (max-width: 1200px) {
    .l-wrap-inner {
        padding: 0 30px;
    }

    .l-header {
        &__logo {
            margin-right: 3%;
        }
    }
}

@media (max-width: 1000px) {
    .l-header {    
        &__search {
            display: none;
        }
    }
}

@media (max-width: 920px) {
    .l-header {

        &__list.show &__hamburger {
            a::after {
                content: url('../img/close_icon.svg');
            }
        }

        &__list.show &__menu {
            transform: translateX(0);
            transition: all 0.5s ease;
        }

        &__logo {
            margin-right: 0;
            a {
                padding: 32px 0;
            }
        }
        
        &__menu {
            position: fixed;
            top: 0;
            left: 45%;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(10px);

            transform: translateX(100%);
            // transition: all 0.5s ease-out;


            ul {
                flex-direction: column;
                align-items: flex-start;
                padding: 0 30px;
                margin-top: 75px;

                li {
                    width: 100%;
                    margin: 0;
                }
            }  
        }

        &__hamburger {
            display: block;
            z-index: 9;    
        }
    }
}