.l-wrap-inner {
    max-width: 1100px;
    margin: 0 auto;
}

.l-py-100 {
    padding: 100px 0;
}
.l-my-100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.l-block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px 20px; 

    .l-block__col {
        width: calc(100% / 3);
    }
}



