.l-wrap-inner {
    max-width: 1100px;
    margin: 0 auto;

    &--aboutus {
        display: flex;
        flex-wrap: wrap;
    }
}
.l-py-100 {
    padding: 100px 0;
}

.l-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 20px;

    &__col {
        width: calc(100% / 3 - 20px);
    }
}


@media only screen and (max-width: 800px) {
    .l-block {
        &__col {
            
            width: calc(100% / 2 - 20px);
        }
        .c-card__txt{
            top: 50%;
        }
        .c-card--unique{
            margin: 0;
        }
    }
}
